/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px
}
td {
    width: 200px;
    min-width: 200px;
    word-break: break-all;
}
a {
    color: #333;
    text-decoration: none;
}

.clr {
    clear: both;
}

h1,
h2,
h3 {
    padding-bottom: 15px;
}

p {
    margin: 10px 0;
}

/* utility classes */
.container {
    margin: auto;
    max-width: 1000px;
    overflow: auto;
    padding: 0 15px;
}

.text-primary {
    color: #f7c08a;
}

.lead {
    font-size: 18px;
}

.btn {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    background: #333;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-light {
    background: #dbd7d7;
    color: #333;
}

.btn:hover {
    background: #f7c08a;
}

.bg-dark {
    background: #333;
    color: #fff
}

.bg-light {
    background: #f4f4f4;
    color: #333
}

.bg-primary {
    background: #f4f4f4;
    color: #f7c08a
}

.header {
    font-weight: bold;
    width: 180px;
    display: inline-block;
}

/* Navbar */
#navbar {
    background: #333;
    color: #fff;
    overflow: auto;
    position: fixed;
    z-index: 1;
}

    #navbar a {
        color: #fff;
    }

    #navbar h1 {
        float: left;
        padding-top: 15px;
    }

    #navbar ul {
        list-style: none;
        float: right;
    }

        #navbar ul li {
            float: left;
        }

            #navbar ul li a {
                display: block;
                padding: 5px;
                text-align: center;
                border: 1px solid #f7c08a
            }

                #navbar ul li a:hover,
                #navbar ul li a.current {
                    background: #444;
                    color: #f7c08a;
                }

/* log-content */
.log-content {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    position: absolute;
    top: 80px;
}

.warn {
    color: #f7c08a;
}

.info {
    color: green;
}

.error {
    color: red;
}

.move {
    display: none;
}
